[Desktop Entry]
Version=1.0
Type=Application
Name=Goneovim Nightly
Comment=Neovim GUI written in Golang, using a Golang qt backend (Nightly)
Exec=/usr/bin/goneovim-nightly %F
Icon=/usr/share/pixmaps/goneovim-nightly.ico
Terminal=false
StartupNotify=false
Categories=TextEditor;Development;
MimeType=text/english;text/plain;text/x-makefile;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
